body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,15,16,1) 30%, rgba(11,18,55,1) 70%, rgba(17,28,85,1) 100%);
    font-family: "Roboto", sans-serif!important;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
}

.container p {
    font-size: 14px;
    line-height: 24px;
} 

h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 16px;
}

.fw-lighter{ 
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal; 
}

hr{
    background: url(svg/line.svg) no-repeat center center;
    background-size: contain;
    border: none;
    margin: 3em auto;
    width: 300px;
    height: 20px;
    opacity: 1;
}

/* bio */

.logo{
    margin: 60px auto 20px;
    max-width: 500px;
    width: 100%;
}

@media (max-width: 420px){

    .logo{
        margin: 0;
        max-width: 100px; 
    }

}

.collapse.navbar-collapse{
    width: 50%;
}

.navbar:after{
    content: '';
    background: url(svg/menu-deco.svg) no-repeat center center;
    background-size: contain;
    bottom: -30px;
    display: block;
    height: 30px;
    left: 0;
    margin: 0 auto;
    width: 350px;
    position: absolute;
    right: 0; 
}

.navbar .nav-link{
    font-size: 12px; 
    font-weight: normal;
}

.banner{ 
    position: relative;
}
 
.banner .container{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.banner .bg-container{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
 
.banner .bg-container img{ 
    opacity: .6; 
}

/* fotos */

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 46px);
    grid-auto-rows: 142px;
    grid-auto-flow: dense;
    gap: 10px;
}

.gallery-item{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1; 
}
 
.gallery-item.r2 { grid-row: span 2 } 
.gallery-item.c2 { grid-column: span 2 }     
.gallery-item.c4 { grid-column: span 4 }     
.gallery-item.c5 { grid-column: span 5 }      

@media(max-width: 960px ){
    .gallery{
        gap: 20px;
    }
    /* .gallery-item:nth-child(1){ }     */
    .gallery-item:nth-child(2){ order: 1; grid-column: span 2; }    
    .gallery-item:nth-child(3){ grid-column: span 5; }    
    .gallery-item:nth-child(4){ grid-column: span 2; }    
    .gallery-item:nth-child(5){ grid-column: span 5; }    
    .gallery-item:nth-child(6){ grid-column: span 2; }    
    .gallery-item:nth-child(7){ grid-column: span 2; }    
    .gallery-item:nth-child(8){ grid-column: span 5; }    
    .gallery-item:nth-child(9){ grid-column: span 5; }    
 
}  

/* video */

.video-container {
    position: relative;
    width: 100%; 
    height: 580px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container:before{
    background: url(svg/play.svg) center no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 120px; 
    width: 120px;
    z-index: 1;
    cursor: pointer;
}

.video-container:after{
    content: "";
    background: url(img/img-video.jpg) center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 580px;
    position: absolute; 
    top: 0;
    z-index: 0; 
    border-top: 40px solid black;
    border-bottom: 40px solid black;
}

.video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* fechas */

.footer{
    position: relative;
}

.footer .container{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.footer .bg-container{
    overflow: hidden;
}

.footer .bg-container .bg{     
    opacity: 0.7;
    transform: scale(1.2);
    margin: 0 0 0 -20px;
    padding: 90px 0;
}

.footer .table-dark{
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 24px;
    margin-top: -30px;
    margin-bottom: 0;
}

.footer .table-dark tbody {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 25px;
  }

.footer .table-dark td{ 
    background: rgba(0,0,0,0.7);
    border: none;
    box-shadow: none;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
} 
.form .label{
    font-size: 18px;
    font-size: 200;
    text-align: left;
}

.form input{
    padding: 8px;
    font-size: 16px;
    color: #333333;
    border-radius: 5px;
    text-align: left;
}

.form input:focus{
    outline: none;
}

.rrss{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.rrss li {
    margin: 0 24px;
}

.rrss img{
    height: 30px;
}

.footer .logo{ 
    margin: 60px auto 10px;
    width: 320px; 
}

.footer hr{
    width: 320px; 
}